.header {
    background-color: #65b4c2;
}



.presentation {
    color: black;


}

.card-header{
    background-color: #7ec266 ;
}

.header-right{

  float: right;
}


body{
    background-color: #d8ffee;
}


.card-header{
    color: black;

}

.table-perso{
    color: black;
}
.border{
    border-radius : 30px;
    background-color: #65b4c2ab;
}
.jumbotron{
    background-color: #7ec266;

}
.content{
    margin-top: 80px;
}

.accordion{
    margin-top: 10px;
}

.connexion-text{
    font-size: 45px
}

.footer{
    background-color: #65b4c2;
    width: 100%;
    height: 100px;
    left: 0;
    bottom: 0;
    position: fixed;





}
.image{
      font-size: 2em;

}

li{
   display: inline;
	list-style: none

}
.a:link{
    text-decoration: none;
}
.a:hover{color: orangered}
.a{
    color: white;
}
