{% extends 'equipement/base.html' %}

{% block content %}
    <br><br><br>

<h1>{{ tag }}</h1>
      <div class="form-group">
    <label for="exampleFormControlSelect1">Quel utilisateur va utiliser ce badge ?</label>
    <select class="form-control form-control-lg" id="exampleFormControlSelect1">
     {% for user in user %}
      <option>{{ user.username }}</option>
       {% endfor %}

    </select>
      <br>
      <div align="center">
      <button type="submit" class="btn btn-primary ">Assigner</button>
  </div>
      </div>

{% endblock %}