{% extends 'equipement/base.html' %}

{% block content %}
    <br><br><br>

    <div class="row">
        <div class="col-sm">


            <div class="accordion" id="accordion">
                {% for equipement in equipements %}
                    <div class="card">
                        <div class="card-header" id="accordHead{{ equipement.id }}">
                            <h5 class="mb-0">
                                <button class=" presentation btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#collaps{{ equipement.id }}"
                                        aria-expanded="true" aria-controls="collapseOne">
                                    <strong>{{ equipement.nom }}</strong>
                                </button>
                            </h5>
                        </div>

                    </div>
                    <div id="collaps{{ equipement.id }}" class="collapse"
                         aria-labelledby="accordHead{{ equipement.id }}"
                         data-parent="#accordion">
                        <div class="card-body">
                            {{ equipement.description }}      </div>
                    </div>
                {% endfor %}
            </div>


        </div>



    </div>

{% endblock %}