{% extends 'equipement/base.html' %}

{% block content %}


    <div class="row">
    <h3>{{ message }}</h3>
        <div class="content col-md-6">
            <div class="jumbotron">
                <h2><strong>Qu'est ce qu'un Fablab ? </strong></h2>
<p>Un Fab Lab (contraction de l'anglais fabrication laboratory, « laboratoire de fabrication ») est un lieu ouvert au public où il est mis à sa disposition toutes sortes d'outils, notamment des machines-outils pilotées par ordinateur, pour la conception et la réalisation d'objets.</p>
                <h2><strong>A quoi sert le Fabacces ?</strong> </h2>
                Et olim licet otiosae sint tribus pacataeque centuriae et nulla suffragiorum certamina set Pompiliani redierit securitas temporis, per omnes tamen quotquot sunt partes terrarum, ut domina suscipitur et regina et ubique patrum reverenda cum auctoritate canities populique Romani nomen circumspectum et verecundum.Et olim licet otiosae sint tribus pacataeque centuriae et nulla suffragiorum certamina set Pompiliani redierit securitas temporifzefzefezfdedtehdthtejetfef
            </div>
        </div>


        <div class="content col-md-6">
            <div class="jumbotron">




            {% if user.is_authenticated %}
                <div align="center"><h2><strong><u>Information Personnelles</u></strong></h2></div><br>
        <table class="table-perso table table-user-information">

            <tbody>
            <tr>
                <td>Nom :</td>
                <td>{{ user.last_name }}</td>
            </tr>
            <tr>
                <td>Prénom :</td>
                <td>{{ user.first_name }}</td>
            </tr>
            <tr>
                <td>Email :</td>
                <td>{{ user.email }}</td>
            </tr>

            <tr>
                <td>Date d'insciption :</td>
                <td>{{ user.date_joined }}</td>
            </tr>
            <tr>
                <td>Pseudo</td>
                <td>{{ user.username }}</td>
            </tr>

            </tbody>
        </table>
                <div align="right"><a href="{% url 'logout' %}" class="btn btn-danger"><i class="fas fa-sign-out-alt"></i> Se déconnecter</a></div>
        </div>
        </div>


            {% else %}

<div align="center">

    <h3 class="connexion-text">Se Connecter</h3><br>
    {% if errors %}
    <div class="alert alert-danger" role="alert"><i class="fas fa-exclamation-triangle"></i> {{ errors }}</div>
    {% endif %}

</div>
                <br>
                <form role="form" action="{% url 'account' %}" method="post">
                    {% csrf_token %}



                    <div class="form-group">
                        <input class="form-control" placeholder="Pseudo" name="username" type="text" value="">
                    </div>

                    <div class="form-group">
                        <input class="form-control" placeholder="Mot de passe" name="password" type="password" value="">
                    </div>
                    <!-- Change this to a button or input when using this as a form -->
                    <button type="submit" class="btn btn-success btn-block">Connexion</button>

                </form>

            {% endif %}
            </div>
        </div>
    </div>

{% endblock %}