{% extends 'equipement/base.html' %}

{% block content %}
    <br><br><br>


    <div align="center">


            <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Bonjour et Bienvenue {{ username }}</h1>
        <p>Ton badge a été reconnu , bienvenue au fablab. Pour toute information un Fabmanager est disponible a l'entrée</p>
        <p><a class="btn btn-primary btn-lg" href="{% url 'home' %}" role="button"> Accueil </a></p>
      </div>
    </div>






    </div>

{% endblock %}